  @font-face {
    font-family: "Wetering_Regular_One";
    src: url("../fonts/Wetering_Regular_One.otf") format('opentype');
  }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Wetering_Regular_One", sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  letter-spacing: 0.25px;
  color: #575756;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  cursor: default;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 25px 0 25px 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  border-bottom: 2px solid #575756;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.list-inline li {
  display: inline-block;
}

.tabled {
  display: table;
}

.tabled-inner {
  display: table-cell;
  vertical-align: middle;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* SITE */

.primary-header {
  box-shadow: 0 1px 20px 1px #575756;
  height: 50px;
  text-align: center;
  padding: 0 20px 0 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.primary-header  nav,
.primary-header  .site-title {
  padding-top: 16px;
}

.site-title {
  /* TODO could be weird*/
  position: absolute;
  left: 20px;
  font-size: 1em;
}

.primary-nav li {
  margin-left: 70px;
}

.primary-nav li:first-child {
  margin-left: 0;
}

.primary-content {
  padding-top: 90px;
}

.toggle-menu {
  display: none;
  width: 37px;
  height: 1.2em;
  position: absolute;
  top: 13px;
  right: 20px;

  cursor: pointer;

  opacity: 0;  /*hide this*/
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

.hamburger-line {
  display: none;
  width: 30px;
  height: 2px;
  position: absolute;
  top: 15px;
  right: 20px;

  background: #575756;

  z-index: 1;
}

.hamburger-line + .hamburger-line {
  top: 23px;
}

.hamburger-line + .hamburger-line + .hamburger-line {
  top: 31px;
}

.toggle-menu:checked ~ ul {
  display: block;
  background: white;
  right: 0;
  top: 49px;
  padding-bottom: 15px;
  width: 100%;
}

.toggle-menu:checked ~ ul li {
  display: block;
  margin-left: 0;
}

/* POSTS */
.posts-list {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  margin-bottom: 10px;
}

.posts-list > li {
  width: 370px;
  max-width: 100%;
}

.posts-list .post {
  border-radius: 20px;
  padding: 30px;
  width: 370px;
  max-width: 100%;
  margin-bottom: 35px;
}

.post.text {
  background-color: #FEEC34;
  color: black;
}

.post.job {
  color: black;
  background-color: #FC0D1B;
}

.post.interview {
  border-radius: 0;
  border: 2px solid blue;
  color: blue;
}

.post.video {
  border-radius: 0;
  background-color: black;
  color: white;
  height: 208px;
}

.post.interview a:hover,
.post.video a:hover {
  border-bottom: none;
}

.post.text a:hover,
.post.job a:hover {
  border-bottom-color: black;
}

.post.photo {
  color: white;
  height: 280px;
}

.post.photo,
.post.video {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.post.photo.portrait {
  height: 657px;
}

.post .preamble {
  margin-bottom: 25px;
}

.post.interview .preamble {
  margin-bottom: 50px
}

.post .preamble span {
  float: left;
}

.post .preamble time {
  float: right;
}

.post .content h2 {
  text-align: center;
}

.post .content p:last-child {
  margin-bottom: 0;
}

.post.interview .content {
  text-align: center;
}

.post .actions {
  margin-top: 25px;
  text-align: center;
}

.post.job .actions ul li:first-child {
  margin-right: 115px;
}

.post.interview .actions,
.post.video .actions {
  margin-top: 50px;
}

/* PROJECTS */

.projects {
  font-size: 1.2em;
  line-height: 1.2em;
  background-color: #BBBBBB;
  color: white;
  text-shadow: 3px 3px 6px #575756;
  padding: 45px 20px 0 20px;
}

.projects table {
  border-collapse: collapse;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.projects table tr td {
  vertical-align: top;
  padding-bottom: 50px;
  padding-right: 35px;
}

.projects table tr td:nth-child(1) {
  width: 66%;
}

.projects table tr td:last-child {
  text-align: right;
  padding-right: 0;
}

/* PUBLICATIONS */
.publications {
  background-color: #000;
  padding: 120px 20px 0 20px;
}

.publications-list {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  margin-bottom: 10px;

  /* FIXME maybe baby*/
  text-align: center;
}

.publications-list > li {
  width: 33%;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;

}

.publications-list > li:nth-child(3n -1) {
  /*margin-left: 120px;*/
  /*margin-right: 120px;*/
}

.publication {
  color: black;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 120px;
  max-width: 100%;
}

.publication.variant-1 {
  padding-top: 60px;
  width: 295px;
  height: 390px;
  background-color: blue;
}

.publication.variant-2 {
  padding-top: 40px;
  width: 220px;
  height: 345px;
  background-color: yellow;
}

.publication .cover {
  /*margin-top: 60px;*/
  text-align: center;
}

.publication .inside {
  text-align: left;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: none;
}

.publication.reveal .inside {
  display: block;
}

.publication.reveal .cover {
  display: none;
}

.publication .actions ul li:before {
  content: "-";
  margin-right: 5px;
}

/* KONTAKT */
.contact {
  color: black;
}

.contact-inner {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact .address,
.contact .team {
  float: left;
  width: 50%;
}

.contact .address {
  padding-right: 20px;
}

.contact .team {
  padding-left: 20px;
}

/* MOBILE */
@media (max-width: 1150px) {
  .publications-list > li {
    width: 49%;
  }
}

/* single column */
@media (max-width: 767px) {
  .primary-header {
    height: auto;
    min-height: 50px;
  }

  .primary-nav ul {
    display: none;
  }

  .toggle-menu,
  .hamburger-line {
    display: block;
  }

  .posts-list > li {
      margin: 0 auto;
  }

  .publications-list > li {
    width: 100%;
  }

  .contact .address,
  .contact .team {
    padding: 0;
    width: 100%;
  }

  .projects {
    font-size: 1em;
  }

  .projects table tr td {
    padding-right: 5px;
  }
}
